<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<form action="/api/users/login" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <div class="container">
    <label for="email"><b>Email</b></label>
    <% if(!messages.invalidEmail) { %>
    <input type="text" placeholder="Introducir Email" name="email" required />
    <% } else { %>
    <input
      type="text"
      value="<%= messages.invalidEmail %>"
      name="email"
      required
    />
    <% } %> <label for="password"><b>Contraseña</b></label>
    <% if(!messages.invalidPwd) { %>
    <input
      type="password"
      placeholder="Introducir Contraseña"
      name="password"
      required
    />
    <% } else { %>
    <input
      type="text"
      placeholder="Introducir Contraseña"
      value="<%= messages.invalidPwd %>"
      name="password"
      required
    />
    <% } %> <button type="submit" class="registerbtn">Log-in</button>
  </div>
  <hr />
  <div class="container signin">
    <p>No tienes una cuenta? <a href="/api/users/register">Regístrate</a></p>
  </div>
</form>
<%- include('../includes/end.ejs') %>
