<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<form action="/api/users/register" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <div class="container">
    <label for="nombre"><b>Nombre</b></label>
    <% if(!messages.invalidName) { %>
    <input type="text" placeholder="Introducir Nombre" name="nombre" required />
    <% } else { %>
    <input
      type="text"
      placeholder="Introducir Nombre"
      value="<%= messages.invalidName %>"
      name="nombre"
      required
    />
    <% } %> <label for="email"><b>Email</b></label>
    <% if(!messages.invalidEmail){ %>
    <input type="text" placeholder="Introducir Email" name="email" required />
    <% } else { %>
    <input
      type="text"
      placeholder="Introducir Email"
      value="<%= messages.invalidEmail %>"
      name="email"
      required
    />
    <% } %>

    <label for="password"><b>Contraseña</b></label>
    <% if(!messages.invalidPwd){%>
    <input
      type="password"
      placeholder="Introducir Contraseña"
      name="password"
      required
    />
    <% } else { %>
    <input
      type="text"
      placeholder="Introducir Contraseña"
      value="<%= messages.invalidPwd %>"
      name="password"
      required
    />
    <% } %>

    <label for="password2"><b>Repetir Contraseña</b></label>
    <% if(!messages.invalidPwdConfirmation) {%>
    <input
      type="password"
      placeholder="Repetir Contraseña"
      name="password2"
      required
    />
    <% }else { %>
    <input
      type="text"
      placeholder="Repetir Contraseña"
      value="<%= messages.invalidPwdConfirmation %>"
      name="password2"
      required
    />
    <% } %> <button type="submit" class="registerbtn">Registrar</button>
  </div>

  <div class="container signin">
    <p>Ya tienes una cuenta? <a href="/api/users/login">Log-in</a></p>
  </div>
</form>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
